//           _                                _       _
//          | |                              | |     | |
//  ___  ___| |_ ______ ___ ___ ___ ______ __| | __ _| |_ __ _
// / __|/ _ \ __|______/ __/ __/ __|______/ _` |/ _` | __/ _` |
// \__ \  __/ |_      | (__\__ \__ \     | (_| | (_| | || (_| |
// |___/\___|\__|      \___|___/___/      \__,_|\__,_|\__\__,_|

@mixin set-css-data($map){

  @if not json-valid-map($map) { @include error('sass-to-js/set-css-data: $map is not JSON-compliant'); }

  $json: json-stringify($map);

  // All browsers except IE8-
  body::before {
    content: $json;
    // This element must be in the render tree to get it via getComputedStyle(document.body, ':before');
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
  }

  // All browsers except Opera (Presto based)
  head {
    font-family: $json;
  }
}

